@model IEnumerable<StudentsData.Application.ViewModels.GroupViewModel>

@{
    ViewData["Title"] = "Усі групи";
    string name = Context.Request.Query["name"];
}

<h1>Усі групи</h1>
<p>
    <a asp-action="Create">Додати</a>
</p>
<form method="get" class="form-inline" asp-action="GetAllGroups" asp-controller="Group">
    <label for="email" class="mr-sm-2">Назва групи:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" name="name" placeholder="ПД-11" id="name" value="@name">
    <button type="submit" class="btn btn-primary mb-2">Знайти</button>
</form>
@if (Model == null || Model.Count() == 0)
{
    <hr />
    <p>
        Груп не знайдено
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Редагувати", "Edit", new { Id = item.Id }) |
                        @Html.ActionLink("Видалити", "RemoveGroup", new { Id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}